{% extends "badge/layout.html" %}

{% block content %}
  <div class="container">
    <div class="notification js-notification"></div>
    <form class="badge-form" name="input" action="{{ url('badge.issueByClaimCode', { badgeId: badge.id }) }}" method="post">
      <h1>Issue Badge by Claim Code</h1>
      <input type="hidden" name="_csrf" value="{{ csrfToken }}"></input>
      <input type="hidden" name="badgeId" value="{{ badge.id }}"></input>

      <img class="badge-image right" src="{{ badge.imageUrl | default(url('badge.image', { badgeId: badge.id })) }}"/>

      <div class="form-field-wrapper">
        <p><span class="badge-label" for="name">Name:</span> {{ badge.name }}
      </div>

      <div class="form-field-wrapper">
        <label class="badge-label" for="claimCode">Claim Code:</label>
        <p>
            <input class="badge-field short-badge-field" type="text" name="claimCode" value=""/> <a class="gen-claim-btn">Auto generate</a>
        </p>
      </div>

      <div class="form-field-wrapper">
        <label class="badge-label" for="email">Recipient Email:</label>
        <p>
            <input class="badge-field" type="email" name="email" value=""/>
        </p>
      </div>

      <button class="btn submit-btn" type="submit">Generate Claim Codes</button>
    </form>
  </div>
{% endblock %}

{% block scripts -%}
  {{ super() }}
  <script src="{{ static('/js/claim.js') }}"></script>
{%- endblock %}
